/* COLORS */
.bg-blue {
    background-color: #0A6E86;
}

.bg-blue-2 {
    background-color: #2C8BFF;
}

.bg-blue-3 {
    background-color: #385982;
}


.bg-blue-dark{
    background-color: #1D2C3F;
}

.bg-blue-dark-2{
    background-color: #2E3B4C;
}

.bg-blue-dark-3{
    background-color: #385B84;
}

.bg-blue-dark-4{
    background-color: #151F2B;
}

.bg-grey{
    background-color: #989FA7;
}

.text-yellow {
    color: #F9F611;
}

.text-yellow-2 {
    color: #EDBA56;
}

.text-red{
    color: #CD5D6A;
}

.text-blue{
    color: #3A82E8;
}

.text-green{
    color: #67B06F;
}

.text-green-2{
    color: #9DE658;

}

.text-green-3{
    color: #85F05E;

}
.text-white-2{
    color: #E4E4E1;
}


.text-blue-light{
    color: #6EDEF3;
}

.text-purple{
    color: #DF4CF8;
}

.text-yellow-3{
    color: #FFF752;
}


/* Text */
.underline{
    text-decoration: underline;
}

.countdown *{
    font-size: 30px;
    margin-bottom: -10px;

}

.countdown .time{
    color: #3A82E8;

}

.countdown-detail *{
    font-size: 12px;

}



/* GRADIENTS */
.gradient-red {
    background: rgb(225, 139, 103);
    background: linear-gradient(90deg, rgba(225, 139, 103, 1) 0%, rgba(235, 67, 67, 1) 100%);
}

.gradient-yellow {
    background: rgb(236, 216, 117);
    background: linear-gradient(90deg, rgba(236, 216, 117, 1) 0%, rgba(221, 175, 49, 1) 100%);
}

/* Text Size */
.sub-title{
    font-size: 60px;
}

.sub-title-2{
    font-size: 40px;
}

.sub-title-3{
    font-size: 30px;
}

.sub-title-4{
    font-size: 17px;
}

.text-size-12{
    font-size: 12px;

}

.content-margin{
    margin-bottom: 70px;
    margin-top: -8px;
}

.button {
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
}

.button-small{
    padding: 8px;
    border-radius: 5px;
}

.button-pills{
    width: 200px;
    
}

@media screen and (max-device-width: 992px){
    .button-pills{
        width: 100%;
        
    }
  }

.border-radius-25 {
    border-radius: 25px;
}

.border-radius-35 {
    border-radius: 35px;
}

.border-radius-50{
    border-radius: 50px;

}

.separator{
    width: 100%;
    height: 3px;
}

.img-card{
    background-color: #2E3B4C;

}

.grey-bar{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.green-bar{
    height: 5px; 
    border-radius: 50px;

    background-color: #85F05E;
}

.active-button {
    background-color: #385982;
    color: white;
}