html {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background-image: url("https://dao.duckie.land/asset/img/backgrounds/bg_node2.png");
    background-color: #042729;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 991px){
    body {
        background-size: cover !important;
        background-position: 95% 80%;
    }
}


/* Margin */
.content-margin{
    margin-bottom: 70px;
    margin-top: -8px;
}

/* Background Color */
.bg-color-transparant {
    background-color: transparent;
    color: white;
}

.bg-color-green {
    background-color: #115D7F;
}

.bg-color-green-2 {
    background-color: #049D9A;
}

.bg-color-blue {
    background-color: #385B84;
}

.bg-color-blue-2 {
    background-color: #151F2B
}

.bg-color-black-t3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-color-white-t08 {
    background-color: rgba(255, 255, 255, 0.08);
}

.bg-color-white-t04 {
    background-color: rgba(255, 255, 255, 0.04);
}

.bg-color-grey{
    background-color: #989FA7;
}

.bg-color-black-2 {
    background-color: #001415;
}
/* Background Color End */




/* Color */
.color-white{
    color: #E4E4E1;
}

.color-gold{
    color: gold;
}


.color-green {
    color: #115D7F;
}
.color-green-2 {
    color: #049D9A;
}
.color-green-3{
    color: #9DE658;
}
.color-green-4{
    color: #85F05E;
}
.color-green-5{
    color: #67B06F;
}


.color-purple{
    color: #DF4CF8;
}


.color-yellow {
    color: #F9F611;
}
.color-yellow-2 {
    color: #EDBA56;
}
.color-yellow-3{
    color: #FFF752;
}


.color-red{
    color: #CD5D6A;
}


.color-blue{
    color: #6EDEF3;
}
/* Color End */


/* Text Decoration */
.underline{
    text-decoration: underline;
}
/* Text Decoration End */



/* Gradient */
.gradient-red {
    background: rgb(225, 139, 103);
    background: linear-gradient(90deg, rgba(225, 139, 103, 1) 0%, rgba(235, 67, 67, 1) 100%);
}

.gradient-yellow {
    background: rgb(236, 216, 117);
    background: linear-gradient(90deg, rgba(236, 216, 117, 1) 0%, rgba(221, 175, 49, 1) 100%);
}




/* Border Radius */
.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-radius-35 {
    border-radius: 35px;
}

.border-radius-50 {
    border-radius: 50px;
}
/* Border Radius End */


/* Font Size */
.fs-60{
    font-size: 60px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-18{
    font-size: 18px;
}
.fs-17{
    font-size: 17px;
}
.fs-17-im{
    font-size: 17px !important;
}
.fs-12{
    font-size: 12px;
}
/* Font Size End */


/* Margin */
.m-top-270{
    margin-top: 270px;
}

.m-bottom-100px{
    margin-bottom: 100px;
}
/* Margin End */


.my-card{
    border: 1px solid #D0D7DE;
    border-radius: 15px;
    color: white;
}





/* Cursor */
.cursor-pointer{
    cursor: pointer;
}
/* Cursor End */

/* Width Height Setting */
.w-100px {
    width: 100px;
}

.h-50px {
    height: 50px;
}
/* Width Height End */

.separator{
    width: 100%;
    height: 3px;
}

.grey-bar{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.green-bar{
    height: 5px; 
    border-radius: 50px;

    background-color: #85F05E;
}

.input-title, .input-desc{
    background-color: transparent ;
    border: none;
    caret-color : white;
    color: white !important;
    text-align: center;
}


.input-title,
.input-title::placeholder {
    font-size: 36px;
    font-weight: bold;   
    color: white !important;

}

.input-desc,
.input-desc::placeholder {
    font-size: 22px;    
    color: white !important;
}


/* Button */
.button {
    padding: 15px 25px 15px 25px;
}


.button-normal{
    padding: 10px 15px 10px 15px;
    
}

.button-small {
    padding: 8px;
}

.active-btn {
    background-color: #049D9A;
    color: white;
}

.button-pills {
    width: 200px;
}

.button-pills-lg {
    width: 300px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .button-pills {
        width: 150px;

    }
}

/* Button End */




.banner-jumbotron{
    padding-top: 225px;
    padding-bottom: 100px;
}

@media (max-device-width : 1199px) {
    .banner-jumbotron{
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

@media (max-device-width : 480px){
    .banner-jumbotron{
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

@media (max-device-width : 320px){
    .banner-jumbotron{
        padding-top: 80px;
        padding-bottom: 15px;
    }
}

.countdown *{
    font-size: 30px;
    margin-bottom: -10px;

}

.countdown .time{
    color: #3A82E8;

}

.countdown-detail *{
    font-size: 12px;

}